body{
    margin: 0;
}
#engine{
    margin-top: 0;
    width: 100%;
    height: 400px;
    background-image: url(../images/h-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;  
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: border-box;
    overflow: auto;
 }
.logo img{
    margin-top: 20px;
    height: 240px;
    width: 240px;
}
.find-lap-txt{
    height: 55px;
    width: 80%;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 35px;
    border-radius: 2px;
    background: url(../images/search.png) no-repeat left center #fff;
    box-shadow: none;
    transition: all 0.3s;
    cursor: text;
    display: inline-block;
    text-align: start;
    box-sizing: border-box;
    display: inline;
}
.find-lap-btn{
    height: 55px;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    background: #263a78;
    color: #fff
}
.theText{
    text-justify: auto;
    color: azure;
    font-family: 'Arial';
    font-size: 30px;
    font-weight: bold;
}
#footer{
   margin: 0px;
}
#main-footer{
    height: 100px;
    padding: 100px 0;
    text-align: center;
    background: #1c1c1c;
}
#main-footer p{
    color: #bbb;
    font-size: 14px;
    margin: 6px 0;
    font-weight: bold;
    font-size: 40px;
}
.item{
    display: flex;
    flex-direction: row;
}
.laps-list img{
    padding: 2px;
    height: 150px;
    width: 150px;
}
.imgContent {
    flex: 1;
    display: inline-block;
    margin: auto;
}
.infoContent{
    flex: 2;
    display: inline-block;
    margin: 0 auto auto 0;
}
ul{
    padding: 0;
    margin: 10px 0;
    text-align: left;
    list-style: none;	
}
li{
    width: 70%;
    margin: 0 auto;
    padding: 10px 10px 10px 40px;
    background: #fff;
    cursor: pointer;
    border-bottom: 1px dashed #bbb;
    font-size: 22px;
    position: relative;
}